<h1>Bagage linguistique :</h1>
<ul>
    <li>Français : Langue natale</li>
    <li>Anglais : Courant - B1</li>
    <li>Espagnol : Niveau Scolaire</li>
    <li>Chinois : Niveau Scolaire</li>
</ul>

<h1>Programmation informatique :</h1>
    <ul>
        <li>C, C++, Python, HTML, CSS</li>
    </ul>

<h1>Logiciels :</h1>
    <ul>
        <li>Proteus</li>
        <li>Schematics</li>
        <li>Arduino</li>
        <li>Pack Office</li>
    </ul>

<h1>Mooc gestion de projet :</h1>
    <ul>
        <li>Outils de conception de projet</li>
    </ul>